/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* Container styling */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container p {
  text-align: center;
}

/* Title styling */
.page-title {
  text-align: center;
  font-size: 2rem;
  color: #4CAF50;
  margin-bottom: 1.5rem;
}

/* Table styling */
#ipo-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

#ipo-table th,
#ipo-table td {
  padding: 12px;
  text-align: left;
  font-size: 1rem;
  color: #555;
  border-bottom: 1px solid #ddd;
}

#ipo-table th {
  background-color: #4CAF50;
  color: white;
}

#ipo-table tr:hover {
  background-color: #f9f9f9;
}

#ipo-table td button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#ipo-table td button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  font-size: 13px;
  color: black;
  margin-bottom: 2rem;
}